/.private/
/.next/
/.temp/
/node_modules/
/temp/
package-lock.json
.env.development
.env.production

# Ignore assets for now, until git lfs is fixed
*.jpg
*.jpeg
*.apng
*.png
*.webp
*.gif
*.tif
*.tiff
*.svg
*.bmp
*.ico
*.mp4
*.mov
*.wmv
*.flv
*.avi
*.webm
*.mkv
*.wav
*.mp3
*.aac
*.ogg
*.flac
